@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --background-color: #F9F7F6;
  --orange-color: #FE8E5C;
  --yellow-color: #FCDB67;
  --pink-color: #F4BFC9;
  --lightblue-color: #D9EEF3;
  --green-color: #B8DEB7;
  --darkblue-color: #19224D;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
}

img {
  pointer-events: none;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 999;
}

#navbar.active {
  padding: 15px 60px 10px;
  box-shadow: 0px 4px 18px rgba(160, 160, 160, 0.25);
}

.navbar-logo img {
  width: 20vw;
}

.navbar-button {
  display: none;
  border: none;
  background-color: transparent;
  color: var(--orange-color);
  cursor: pointer;
}

.navbar-button:hover {
  color: #cd5f4b;
}

.navbar-menu a {
  color: #9B9B9B;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  transition: .3s all ease;
  padding: 10px 30px;
  border-radius: 10px;
}

.navbar-menu a:hover {
  color: var(--darkblue-color);
  background-color: var(--lightblue-color);
}

.navbar-menu a:nth-child(4) {
  background-color: var(--orange-color);
  color: var(--background-color);
  font-weight: 600;
  padding: 10px 30px;
  transition: .3s all ease;
}

.navbar-menu a:nth-child(4):hover {
  background-color: #cd5f4b;
}

/* HOME */
.landing-page-titles {
  margin: 74px auto 37px;
  width: 60vw;
  text-align: center;
  font-family: var(--font-secondary);
}

.title-landing-page {
  color: var(--darkblue-color);
  font-weight: 700;
  font-size: 3.75rem;
}

.title-landing-page span {
  background: linear-gradient(90.09deg, #FCDB67 38.21%, #E23316 72.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.landing-page-titles > p {
  margin-top: 11px;
  color: #8B8EA0;
  font-size: 24px;
}

/* CAROUSEL */

.landing-page-carousel {
  position: relative;
}

.landing-page-carousel > .carousel-background {
  text-align: center;
  width: 100%;
  max-width: 100vw;
  margin: 160px 0 0;
}

.landing-page-carousel > .carousel-illustrations {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

.landing-page-carousel > .carousel-illustrations > .illustration-primary > img{
  width: 31vw;
}

.landing-page-carousel > .carousel-illustrations > .illustration-secondary > img {
  width: 16vw;
}

.carousel-illustrations > .illustration-secondary {
  display: flex;
  justify-content: center;
  column-gap: 10vw;
}

.carousel-illustrations > .illustration-secondary > button {
  margin-top: 31px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: var(--darkblue-color);
  border: none;
  color: var(--pink-color);
  cursor: pointer;
}

.carousel-illustrations > .illustration-secondary > button > img {
  width: 34px;
  margin: auto auto;
}

/* WHAT TO DO IN THE APP */
.landing-page-todo {
  background: linear-gradient(180deg, #DAEFF4 0%, #F9F7F6 103.71%);
  margin-top: -5px;
}

.todo-titles, .whyChooseUs-titles {
  text-align: center;
  font-family: var(--font-secondary);
  color: var(--darkblue-color);
  margin: 0 auto;
  width: 60vw;
}

.todo-titles > .todo-title, .whyChooseUs-titles > h2 {
  font-weight: 600;
  font-size: 2.75rem;
}

.todo-titles > p, .whyChooseUs-titles > p {
  margin-top: 28px;
  font-weight: 400;
  font-size: 1.5rem;
}

.landing-page-todo > .todo-cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 65px auto 0;
}

.todo-cards > .todo-cards-card {
  border-radius: 20px;
  padding: 25px 26px;
  width: 237px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(160, 160, 160, 0.25);
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
}

.todo-cards > .todo-cards-card > p {
  padding: 0 0 0 7px;
}

.todo-cards > .todo-cards-card > .todo-card-title {
  font-weight: 600;
  font-size: 20px;
}

.todo-cards > .todo-cards-card > .todo-card-description {
  font-size: 16px;
}

.todo-cards > .todo-cards-card > img {
  width: 71px;
}

#home .landing-page-divider {
  text-align: center;
  margin: 161px 0;
}

#home .landing-page-divider img{
  width: 55vw;
}

.landing-page-whyChooseUs {
  position: relative;
}

.landing-page-whyChooseUs > .whyChooseUs-quotation-marks {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 12.5rem;
  color: var(--lightblue-color);
  position: absolute;
  z-index: -1;
}

.landing-page-whyChooseUs > .opening {
  top: 0;
  left: 10vw;
}

.landing-page-whyChooseUs > .closing { 
  right: 10vw;
}

.landing-page-whyChooseUs > .whyChooseUs-cards {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  column-gap: 70px;
  margin: 42px auto 0;
  padding-bottom: 42px;
  width: 80%;
}

.whyChooseUs-cards::-webkit-scrollbar{
  height: 0.4rem;
  background-color: #fff;
  border-radius: 20px;
}

.whyChooseUs-cards::-webkit-scrollbar-thumb {
  background-color: var(--lightblue-color);
  border-radius: 20px;
}

.whyChooseUs-cards > .whyChooseUs-card {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 322px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(160, 160, 160, 0.25);
  border-radius: 20px;
  color: #494949;
  font-size: 1rem;
  padding: 16px 36px;
  transition-duration: 0.7s;
}

.whyChooseUs-cards > .whyChooseUs-card:hover {
  background-color: var(--green-color);
}

.whyChooseUs-card > .whyChooseUs-card-recommendation {
  width: 322px;
}

.whyChooseUs-cards > .whyChooseUs-card  img {
  border-radius: 50%;
  width: 60px;
}

.whyChooseUs-card > .whyChooseUs-card-user {
  display: flex;
  column-gap: 14px;
  align-items: center;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
}

.whyChooseUs-card > .whyChooseUs-card-score {
  text-align: end;
  font-size: 1.2rem;
}

#landing-page-newsletter {
  margin-top: 284px;
  background-color: var(--lightblue-color);
  padding: 106px 0;
  text-align: center;
}

#landing-page-newsletter h2, #landing-page-newsletter p {
  font-family: var(--font-secondary);
  color: var(--darkblue-color);
  margin: 0 auto 28px auto;
  width: 60vw;
}

#landing-page-newsletter h2 {
  font-size: 2.75rem;
}

#landing-page-newsletter p {
  font-size: 1.4rem;
}

#landing-page-newsletter form .newsletter-input, #landing-page-newsletter form .newsletter-submit {
  font-family: var(--font-primary);
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 10px;
}

#landing-page-newsletter form .newsletter-input {
  margin-right: 25px;
  color: #BBBBBB;
  padding: 10px 0 10px 19px;
  width: 40vw;
}

#landing-page-newsletter form .newsletter-submit {
  background-color: var(--darkblue-color);
  color: var(--background-color);
  padding: 10px 30px;
  font-weight: 600;
  transition: .3s all ease;
  cursor: pointer;
}

#landing-page-newsletter form .newsletter-submit:hover {
  background-color: #515979;
}

#footer {
  background-color: var(--darkblue-color);
  color: #fff;
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
}

#footer .footer-logo img{
  width: 270px;
}

#footer ul li {
  list-style: none;
}

#footer p {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 19px;
}

#footer .footer-policies ul li {
  margin-bottom: 14px;
}

#footer .footer-policies a, #footer .footer-contactUs ul li a svg {
  color: var(--background-color);
}

#footer .footer-policies a {
  text-decoration: none;
}

#footer .footer-policies a:hover, #footer .footer-contactUs ul li a svg:hover {
  color: var(--pink-color);
}

#footer .footer-contactUs ul {
  display: flex;
  column-gap: 22px;
}

#footer .footer-contactUs ul li a svg {
  width: 23px;
  height: 23px;
}

#footer-madeBy {
  padding: 10px 0;
  text-align: center;
  color: var(--darkblue-color);
}

#footer-madeBy span a {
  color: var(--darkblue-color);
}

@media screen and (max-width: 1200px) {
  .landing-page-carousel > .carousel-illustrations > .illustration-primary > img {
    width: 35vw;
  }
}

@media screen and (max-width: 1024px) {
  .landing-page-carousel > .carousel-illustrations > .illustration-primary > img {
    width: 38.5vw;
  }

  .title-landing-page {
    font-size: 3rem;
  }

  .navbar-logo img {
    width: 30vw;
  }

  .navbar-button {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  nav.isActive {
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 40vh;
  }

  .landing-page-todo > .todo-cards {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .landing-page-titles {
    margin: 41px auto 37px;
  }

  .landing-page-carousel > .carousel-illustrations > .illustration-primary > img {
    width: 44.5vw;
  }

  .landing-page-whyChooseUs > .whyChooseUs-quotation-marks {
    font-size: 9rem;
  }

  #footer {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  #home .landing-page-divider img {
    width: 90vw;
  }

  .title-landing-page {
    font-size: 2.7rem;
  }

  .todo-titles > .todo-title, .whyChooseUs-titles > h2, #landing-page-newsletter h2 {
    font-size: 2.2rem;
  }

  .landing-page-carousel > .carousel-illustrations > .illustration-primary > img {
    width: 48.5vw;
  }

  .carousel-illustrations > .illustration-secondary > button {
    margin-top: 8px;
    width: 40px;
    height: 40px;
  }

  .carousel-illustrations > .illustration-secondary > button > img {
    width: 26px;
  }
}

@media screen and (max-width: 479px) {
  #navbar {
    padding: 15px 25px;
  }

  .navbar-logo img {
    width: 52vw;
  }

  .title-landing-page {
    font-size: 2.3rem;
  }

  .todo-titles > .todo-title, .whyChooseUs-titles > h2, #landing-page-newsletter h2 {
    font-size: 1.6rem;
  }

  .todo-titles > p, .whyChooseUs-titles > p {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .landing-page-carousel > .carousel-illustrations > .illustration-primary > img {
    width: 54.5vw;
  }

  .carousel-illustrations > .illustration-secondary {
    column-gap: 8vw;
  }

  .todo-titles, .whyChooseUs-titles {
    padding-top: 60px;
  }

  .todo-cards > .todo-cards-card > img {
    width: 50px;
  }

  .todo-cards > .todo-cards-card {
    width: 50vw;
  }

  #landing-page-newsletter form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  #landing-page-newsletter form .newsletter-submit, #landing-page-newsletter form .newsletter-input {
    margin: 0 auto;
    width: 80vw;
    padding: 10px 0 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 413px) {
  .landing-page-carousel > .carousel-illustrations > .illustration-primary > img {
    width: 59.5vw;
  }
}